.text-brick {
  color: #AA4A44;
}
/*fim-cores*/

.dado-icone {
  text-decoration: none;
}

.ol-close-icon {
  float: right;
}

.dice-icon {
  font-size: 3rem;
}

.place-over-image {
  border-radius: 0.7rem;
}

.nav-social-icons {
  font-size: 1.3rem;
}

.shake:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.3s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}



@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
